/*----------------------------------------------------
	CORE CSS
-----------------------------------------------------*/

html {
    font-size: 62.5%; /* 1.5rem = 15px */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    @include font-size(1.7);
    @include line-height(2.5);
    font-family: $primary-font;
    /* currently ems cause chrome bug misinterpreting rems on body element */
	background: $bkg-color;
    padding-top: 30px;
    color: #222;
}

img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}

a img {
	border: none;
	outline: none;
}

a {
	text-decoration: none !important;
	color: $primary-color;
	outline: none;
}

a:hover {
	color: $secondary-color;
}

hr {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}


footer {
    margin: 3.5em 0;
}

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.btn {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }

/* Login Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body.admin-login-page {
    
    background-color: #F7F7F7;
    
    footer {
        color: #404041 !important;
        
        a {
            color: #404041 !important;
            
            &:hover {
                text-decoration: underline !important;
            }
        }
    }
    
    section {
    text-align: center;
    
        h2 {
            padding-bottom: 20px;
        }
        
        img {
            margin-bottom: 25px;
        }
        
        form {
            margin: 0 auto;
            max-width: 250px;
            
            p {
                margin-bottom: 0;
                padding-bottom: 2px;
                text-align: left;
            }
            
            input[type="submit"] {
                background-color: #F36E3A !important;
                border-bottom-color: #97421d !important;
            }
        }
    }
    
}