/*----------------------------------------------------
	DATEPICKER
-----------------------------------------------------*/

#ui-datepicker-div {
    font-family: $primary-font; 
}

.ui-state-highlight, 
.ui-widget-content .ui-state-highlight, 
.ui-widget-header .ui-state-highlight {
    border: 1px solid $mid-green;
    background: $lt-green url("images/ui-bg_glass_55_fbf9ee_1x400.png") 50% 50% repeat-x;
}
