/*----------------------------------------------------
	FORM STYLING
-----------------------------------------------------*/

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 1.8rem $primary-font;
    text-transform: uppercase;
    padding: 10px 15px 10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    margin-top: 15px;
    color: #fff !important;
    cursor: pointer;
    box-sizing: border-box;
    border: solid 1px $green;
    background: $drk-green;
    background: -webkit-gradient(linear, left top, left bottom, from($green), to($drk-green));
    background: -moz-linear-gradient(top, $green, $drk-green);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$green', endColorstr='$drk-green');
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    text-decoration: none;
    color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from($drk-green), to($green));
    background: -moz-linear-gradient(top, $drk-green, $green);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$drk-green', endColorstr='$green');
}
.button:active,
button:focus,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
    position: relative;
    top: 1px;
    color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from($drk-green), to($green));
    background: -moz-linear-gradient(top, $drk-green, $green);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$drk-green', endColorstr='$green');
}
/*----------------------------------------------------
	Form Inputs
-----------------------------------------------------*/

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    height: 38px;
    padding: 6px 10px;
    /* The 6px vertically centers text on FF, ignored by Webkit */
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}
/* Removes awkward default styles on some inputs for iOS */

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
textarea {
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px;
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    border: 1px solid #33C3F0;
    outline: 0;
}
label,
legend {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600;
}
fieldset {
    padding: 0;
    border-width: 0;
}
input[type="checkbox"],
input[type="radio"] {
    display: inline;
}
label > .label-body {
    display: inline-block;
    margin-left: .5rem;
    font-weight: normal;
}