/*----------------------------------------------------
	SKELETON GRID
-----------------------------------------------------*/

.container {
    position: relative;
    width: 100%;
    max-width: 765px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}
.col,
.cols {
    width: 100%;
    float: left;
    box-sizing: border-box; 
}

/* For devices larger than 400px */
@media (min-width: 400px) {
    .container {
        width: 95%;
        padding: 0; 
    }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
    .container {
        width: 90%; 
    }
    .col,
    .cols {
        margin-left: 4%; 
    }
    .col:first-child,
    .cols:first-child {
        margin-left: 0; 
    }

    .one.col,
    .one.cols                    { width: 4.66666666667%; }
    .two.cols                    { width: 13.3333333333%; }
    .three.cols                  { width: 22%;            }
    .four.cols                   { width: 30.6666666667%; }
    .five.cols                   { width: 39.3333333333%; }
    .six.cols                    { width: 48%;            }
    .seven.cols                  { width: 56.6666666667%; }
    .eight.cols                  { width: 65.3333333333%; }
    .nine.cols                   { width: 74.0%;          }
    .ten.cols                    { width: 82.6666666667%; }
    .eleven.cols                 { width: 91.3333333333%; }
    .twelve.cols                 { width: 100%; margin-left: 0; }

    .one-third.col               { width: 30.6666666667%; }
    .two-thirds.col              { width: 65.3333333333%; }

    .one-half.col                { width: 48%; }

    /* Offsets */
    .offset-by-one.col,
    .offset-by-one.cols          { margin-left: 8.66666666667%; }
    .offset-by-two.col,
    .offset-by-two.cols          { margin-left: 17.3333333333%; }
    .offset-by-three.col,
    .offset-by-three.cols        { margin-left: 26%;            }
    .offset-by-four.col,
    .offset-by-four.cols         { margin-left: 34.6666666667%; }
    .offset-by-five.col,
    .offset-by-five.cols         { margin-left: 43.3333333333%; }
    .offset-by-six.col,
    .offset-by-six.cols          { margin-left: 52%;            }
    .offset-by-seven.col,
    .offset-by-seven.cols        { margin-left: 60.6666666667%; }
    .offset-by-eight.col,
    .offset-by-eight.cols        { margin-left: 69.3333333333%; }
    .offset-by-nine.col,
    .offset-by-nine.cols         { margin-left: 78.0%;          }
    .offset-by-ten.col,
    .offset-by-ten.cols          { margin-left: 86.6666666667%; }
    .offset-by-eleven.col,
    .offset-by-eleven.cols       { margin-left: 95.3333333333%; }

    .offset-by-one-third.col,
    .offset-by-one-third.cols    { margin-left: 34.6666666667%; }
    .offset-by-two-thirds.col,
    .offset-by-two-thirds.cols   { margin-left: 69.3333333333%; }

    .offset-by-one-half.col,
    .offset-by-one-half.cols     { margin-left: 52%; }
}