.signature-pad-box {
    margin-bottom: 70px;
}

.signature-pad-body {
    background-color: #fff;
    border-radius: 4px;
    min-height: 250px;
    
    canvas {
        width: 100%;
        height: 100%;
        border-radius: 4px;
        min-height: 250px;
        
        &:active {
            cursor: pointer;
        }
    }
}

.signature-pad-footer {
    height: 40px;
}