/*----------------------------------------------------
	STRUCTURE
-----------------------------------------------------*/

.logo {
    border-bottom: 1px solid #BAEFAB;
    padding-bottom: 44px;
    margin-bottom: 35px;
}

.welcome {
    margin-top: 15px !important;
    
    button {
        min-height: 62px;
    }
}

footer {
    color: $drk-green;
    margin-top: 45px;
}
    