/*----------------------------------------------------
	STRUCTURE
-----------------------------------------------------*/

.logo {
    border-bottom: 1px solid #BAEFAB;
    padding-bottom: 44px;
    margin-bottom: 35px;
}

.welcome {
    
    button {
        font-size: 3.7rem !important;
        padding: 10px 60px 10px;
    }
}

footer {
    color: $drk-green;
    margin-top: 45px;
}
    