/*----------------------------------------------------
	UTILITIES
-----------------------------------------------------*/

.left { float: left; }
.right { float: right; }
.full-width { width: 100%; box-sizing: border-box; }
.max-full-width { max-width: 100%; box-sizing: border-box; }
.center { margin: 0 auto; text-align: center; }
.clear { 
    content: "";
    display: table;
    clear: both; 
}
.inactive, .inactive a, .inactive:hover {
    color: #B5B5B5 !important;
}
.inline {
    display: inline !important;
}

/* Responsive Utilities */
/* Hide from screenreaders and browsers - Credit: HTML5 Boilerplate */
.hidden {
  display: none;
  visibility: hidden;
}

/* For desktops */
.visible-phone     { display: none !important; }
.visible-tablet    { display: none !important; }
.hidden-phone      { }
.hidden-tablet     { }
.hidden-desktop    { display: none !important; }
.visible-desktop   { display: inherit !important; }

/*  Tablets & small desktops only */
@media (min-width: 771px) and (max-width: 979px) {
  /*  Hide everything else */
  .hidden-desktop    { display: inherit !important; }
  .visible-desktop   { display: none !important ; }
  /*  Show */
  .visible-tablet    { display: inherit !important; }
  /*  Hide */
  .hidden-tablet     { display: none !important; }
}

/*  Phones only */
@media (max-width: 770px) {
  /*  Hide everything else */
  .hidden-desktop    { display: inherit !important; }
  .visible-desktop   { display: none !important; }
  /*  Show */
  .visible-phone     { display: inline !important; } /* Use inherit to restore previous behavior */
  /*  Hide */
  .hidden-phone      { display: none !important; }
}