/*----------------------------------------------------
	VAIRABLES
-----------------------------------------------------*/

// Typography
$primary-font:  'Open Sans', Verdana, Helvetica, Arial, sans-serif !default;

// Colors
$green:         #7dc148;
$lt-green:      #edf9e4;
$drk-green:     #4a851d;