/*----------------------------------------------------
	VAIRABLES
-----------------------------------------------------*/

// Typography
$primary-font:  'Open Sans', Verdana, Helvetica, Arial, sans-serif !default;

// Theme Colors
$primary-color:         #4a851d;
$lt-green:      #edf9e4;
$drk-green:     #4a851d;
$mid-green:     #BAEFAB;

// Admin Colors
$admin-header-bar-linkcolor:   #ffffff;

// Media Queries 
$break-phone:   770px;
$break-tablet: 771px;