/*----------------------------------------------------
	VAIRABLES
-----------------------------------------------------*/

// Typography
$primary-font:  'Open Sans', Verdana, Helvetica, Arial, sans-serif !default;

// Theme Colors
$primary-color:        #4a851d;
$secondary-color:      #8fcc60;
$bkg-color:     #edf9e4;

//$lt-green:      #edf9e4;
//$drk-green:     #4a851d;
//$mid-green:     #BAEFAB;


// Media Queries 
$break-small:   550px;
$break-phone:   850px;
$break-tablet: 851px;